.menu-type
  #description.fl
    Coming to this menu soon! Until then let me direct you to our 
    - old_doc = "http://piecoras.com/images_editable/"
    - old_doc += "MENU%20030402011%20DEB%20updated%20by%20dan%20for%20web.doc"
    %a.detail-link{:href => old_doc}
      old site's menu
    
