.menu-type>#description {
  clear: both;
  margin: 0px 0px 10px 10px;
}

.menu-item>.title {
  margin-left: 20px;
  clear: both;
}

.menu-item>.title>.name {
  font-weight: bold;
  float: left;
}

.menu-item>.title>.extra-info {
  font-weight: normal;
  margin-left: 5px;
  font-size: 0.8em;
  font-style: italic;
  float: left;
}

.menu-item>.title>.price {
  font-weight: bold;
  float: right;
  clear: right;
}

.menu-item>.description {
  font-size: 0.9em;
  margin-left: 25px;
  float: left;
  clear: both;
}
