* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eeefd9;
}

.fl {
  float: left;
  clear: both;
}

#header {
  min-height: 140px;
  background:#8fc857;
  background:-webkit-gradient(linear,left top,left bottom,from(#8fc857),to(#1aa749));
  background:-moz-linear-gradient(top,#8fc857,#1aa749);
  -pie-background:linear-gradient(top,#8fc857,#1aa749);
  border-bottom: 2px solid #8fc857;
}

#logo {
  margin: 10px 0px 0px 15px;
  float: left;
}

#nav-content {
  color: white;
  font-size: 14pt !important;
  font-weight: bold;
  padding: 90px 0px 0px 15px;    
}

#nav-content>a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  text-shadow: 0 -1px 3px rgba(0,0,0,0.5);
}

#nav-content>a:hover {
  text-shadow: 0 -1px 15px rgba(255,255,153,0.75);
}

.title-menu {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  padding: 3px 6px 6px;
  min-width: 100px;  
}

#phone-number {
  float: right;
  text-shadow: 0 -1px 3px rgba(0,0,0,0.5);  
  margin-right: 15px;
  padding-top: 5px;
}

#content {
  margin: 25px 175px 25px 175px;
}

.piecora-title {
  color: #fff;
  text-shadow:1px -1px 5px rgba(0,0,0,0.4);
  width: 100%;
  font-weight: bold;
  padding: 15px;
  background:#f90;
  background:-webkit-gradient(linear,left top,left bottom,from(#f90),to(#ffb84d));
  background:-moz-linear-gradient(top,#f90, #ffb84d);  
  margin: 5px 0px;
  border: 2px solid #f90;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: default;
}
