#about-content
  #hours
    .piecora-title
      Hours
    Monday-Thursday, 11:30AM-11:00PM
    %br
    Friday 11:30AM-Midnight
    %br
    Saturday 12:00PM-Midnight
    %br
    Sunday 12:00PM to 10PM
  #location
    .piecora-title
      Location
    #location-description
      We are located at 1401 East Madison Street at the five corner 
      intersection of 14th Ave, East Madison and East Pike Streets. 
      And if you really can't read a map, then just drive around 
      Capitol Hill until you find this lovely lady. 
    #statue-of-liberty
      = image_tag "pizza-tossin-statue-of-liberty.png"
  #contact
    .piecora-title
      Contact Us
    We want to hear from you! Whether it is praise, suggestion for a menu item,
    or to book the party room - we value your input and are at your service. 
    The Piecora family wants you to be beyond satisfied.      
