.piecora-title
  Home
#home-content
  We're still working on figuring out what to put on this page, but until this is 
  all handled why dont you check out some of our other pages ...
  %ul
    %li
      %a{:href => "/menu", :class => "detail-link"}
        Menu
    %li
      %a{:href => "/events", :class => "detail-link"}
        Events
    %li
      %a{:href => "/occasions", :class => "detail-link"}
        Occasions
    %li
      %a{:href => "/about", :class => "detail-link"}
        About
    %li
      %a{:href => "/gallery", :class => "detail-link"}
        Gallery